html
	title Test site
	//- Mobile specific 
	meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		
	link(rel="stylesheet" href="css/bootstrap.css")
	link(rel="stylesheet" href="css/style.css")

	body.colored

		div#header.container-fluid.no-gutter
			div#toplinks.col-md-12.no-gutter
				ul.col-md-8.col-md-offset-2
					li.col-md-1
						a(href="#") Site map
					li.col-md-1
						a(href="#") Accessibility
					li.col-md-1
						a(href="#") Contact us

			div#logosearch.col-md-12.no-gutter
				div.col-md-8.col-md-offset-2
					img(src="images/gov-logo.png")#govlogo
					img(src="images/scsa-logo.png")#scsalogo

					div#search.col-md-5
						form.form-inline
							div.form-group.col-md-9
								label(for="sbox").sr-only
								input(type="text" placeholder="Search")#sbox.form-control
							div.form-group.col-md-3
								label(for="sub").sr-only
								button(type="submit")#sub.btn.btn-default Search

			div#nav.col-md-12.no-gutter
				div.col-md-8.col-md-offset-2
					ul.nav.nav-tabs
						li(role="presentation").active
							a(href="#") The Authority
						li(role="presentation")
							a(href="#") Kindergarten to Year 10
						li(role="presentation")
							a(href="#") Years 11 and 12

					div#loginout
						a(href="#") #[span(aria-hidden="true").glyphicon.glyphicon-lock] Login
							

				

		
		div#main.container-fluid
			section#content.col-md-8.col-md-offset-2
				h1.text-center This is a test of the container
		
		script(src="js/output.min.js")